* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}

body {
  background-color: #3b4453;
}
.rotulo {
  color: white;
  position: absolute;
  background: #00000065;
  border-radius: 1rem;
  padding: 1rem;
  width: 20rem;
  top: 2rem;
  left: 3rem;
  @media (max-width: 768px) {
    top: 1rem;
    left: 1.7rem;
  }
}
.rotulo2 {
  color: white;
  position: absolute;
  background: #00000065;
  border-radius: 1rem;
  padding: 1rem;
  width: auto;
  top: 2vh;
  right: 0vw;
}
